<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Home | Dashboard{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body onload="init()">
<div id="wrapper" onload="speak()">
    <header>
        <h1>DeRiche Agency, Inc.</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/bodycheck">Create Form</a></li>
            <ul class="nav-dropdown">
                <li><a href="/bodycheck">Body Check</a></li>
                <li><a href="/internal_incident">Internal Incident</a></li>
            </ul>
            <li><a href="/formretrieval">Retrieve Form</a></li>
            <li><a href="/contact">Contact US</a></li>
        </ul>
    </nav>
    <main>
        {% block body %}{% endblock %}
    </main>
    {% block javascripts %}{% endblock %}
    <footer>
        Copyright &copy; 2017 2017 DeRiche Agency Inc.
        <a href="mailto:example@example.com">example@example.com</a>
    </footer>
</div>
</body>
</html>