<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Home | Dashboard{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="{{ asset('style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container-fluid" id="wrapper">
    <header>
        <h1 id="logo" class="logo">DeRiche Agency, Inc.</h1>
    </header>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/patients">Patients</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_WRITER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="/note">Create Note</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false" id="createform">Create Form</a>
                        <div class="dropdown-menu" id="formsdropdown">
                            <a class="dropdown-item" href="/bodycheck">Body Check</a>
                            <a class="dropdown-item" href="/internal_incident">Internal Incident</a>
                            <a class="dropdown-item" href="#">Bowel Movement Daily Check List</a>
                            <a class="dropdown-item" href="#">Community Connection Activity Sheet</a>
                            <a class="dropdown-item" href="#">Goal Tracking Sheet</a>
                            <a class="dropdown-item" href="#">Multiple Absences</a>
                            <a class="dropdown-item" href="#">Repositioning Log</a>
                            <a class="dropdown-item" href="#">Seizure Activity Checklist</a>
                            <a class="dropdown-item" href="#">Single Absence</a>
                            <a class="dropdown-item" href="#">Weight & BP Chart</a>
                        </div>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_REVIEWER') %}
                <li class="nav-item">
                    <a class="nav-link" href="/reviewer/">Review Notes</a>
                </li>
                {% endif %}
                {#<li class="nav-item">#}
                    {#<a class="nav-link" href="/formretrieval">Retrieve Form</a>#}
                {#</li>#}
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-9">
            {% block body %}{% endblock %}
        </div>
    </div>


    <!-- Modals -->
    <div class="modal fade" id="confirmModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation Dialog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <br/>
                    <div class="alert alert-warning" role="alert">
                        {#<strong>Confirmation: </strong>#}
                        <span class="warning-message">
                            Are you sure you wish to do that?
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-warning confirm">Confirm</a>
                </div>
            </div>
        </div>
    </div>


    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script src="{{ asset('static/tether.min.js') }}"></script>
    <script>
        // Used for navigation menu.
        $(function () {
            if ((location.pathname.split("/")[1]) === "") {
                $("a.nav-link:contains('Home')").addClass('active');
            } else {
                var activenav = $('ul.nav a[href^="/' + location.pathname.split("/")[1] + '"]');
                activenav.addClass('active');
                // If we're on a form page then we set the "Create Form" element to active as well.
                if (activenav.parent().attr('id') == "formsdropdown")
                    $("#createform").addClass('active');
            }
        });
    </script>
    <script><!--Modal-->
        //When clicked
        $('.confirm-link').on('click', function (e) {
            //e.preventDefault();

            //Pass data to shown handler
            var link = $(this).data('link');
            var confirmTitle = $(this).data('confirm-title');
            var confirmMessage = $(this).data('confirm-message');
            var bootstrapColor = $(this).data('bootstrap-color');

            var modal = $('#confirmModal');

            modal.find('.modal-title').html(confirmTitle);
            modal.find('.warning-message').html(confirmMessage);
            modal.find('.confirm').attr('class', 'btn confirm  btn-' + bootstrapColor).html(confirmTitle);
            modal.find('.alert.alert-warning').attr('class', 'alert alert-' + bootstrapColor);

            modal.data({
                'type': 'link',
                'link': link
            }).modal('show');
        });

        $('#confirmModal .confirm').click(function () {
            var type = $('#confirmModal').data('type');

            switch (type) {
                // handle redirect here
                case 'link': {
                    var
                        link = $('#confirmModal').data('link');
                    location.href = link;
                    $('#confirmModal').modal('hide');
                }
                case 'delete': {

                }
            }
        });

    </script>
    {% block javascripts %}{% endblock %}
    <footer>
        Copyright &copy; 2017 DeRiche Agency Inc.
        <a href="mailto:example@example.com">example@example.com</a>
    </footer>
</div>
</body>
</html>