{% extends 'base.html.twig' %}
{% block title %}Contact Us{% endblock %}
{% block body %}
    <div>
        <h2 style="margin-bottom: -7px;"> DeRiche Agency Inc.</h2>
        <p style="margin-left: 90px;">
            <small>Providing opportunities of the highest quality</small>
        </p>
    </div>
    <p>3175 Cherokee St NW, Kennesaw, GA 30144</p>
    <p>Phone: 678-490-3761</p>
{% endblock %}