{% extends 'base.html.twig' %}
{% block title %}Contact Us{% endblock %}
{% block body %}
<h2 style="margin-bottom: -15px;"> DeRiche Agency Inc.</h2>
<p style="margin-left: 50px;"><small>Providing opportunities of the highest quality</small></p>
<p>3175 Cherokee Street Kennesaw Ga.30144</p>
<p> phone: 678-490-3761</p>
{% endblock %}