{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <h2>Welcome <b>{{ app.user.firstName }}</b></h2>
        <hr/>
    {% endif %}


    <p>This page should be modified and show the appropriate tools per role.</p>
{% endblock %}