{% extends 'base.html.twig' %}

{% block body %}
<p>This page will test authentication and then redirect to patients. There's no point for this to exist in the current flow we have.</p>
{% endblock %}