{% extends 'base.html.twig' %}
{% block title %}Home | Login{% endblock %}
{% block body %}
    <h2 align="center">Please Login</h2>
        <form name="LoginForm" action="LoginServlet" method="post">
            <div align="center">ID: <input type="text" name="id" value=""autofocus></div>
            <br>
            <div align="center">PW: <input type="password" name="pw" value=""></div>
            <br>
            <div align="center">
                <input type="submit" name="LoginBtn" value="Login">
                <input type="reset" name="ClearBtn" value="Clear">
            </div>
        </form>
{% endblock %}