{% extends '@App/base.html.twig' %}

{% block body %}
    <p>This page will be used by the admin to create users and change privileges.
        Maybe also even see latest data as a list.</p>

    Create user: <a href="/admin/create">Here</a>
{% endblock %}