{% extends 'notes/forms/template.html.twig' %}
{% block title %}Body Check Form{% endblock %}
{% block form %}
    <canvas id="bodycheck" width="673" height="514" style="margin-top: 10px;"></canvas>
    <br/>
    <button onclick='clearBodyCheckCanvas()' type="button">Clear</button>

    <div class="form-group row">
        <label for="type" class="col-md-3 col-form-label">If yes, which type?</label>
        <div class="col-md-4">
            <textarea id="type" name="form_type" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="what" class="col-md-3 col-form-label">Explain what happened</label>
        <div class="col-md-4">
            <textarea id="what" name="form_what" rows="4" cols="50"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="where" class="col-md-3 col-form-label">Where did it happen</label>
        <div class="col-md-4">
            <input id="where" name="form_where" type="text">
        </div>
    </div>

    <div class="form-group row">
        <label for="when" class="col-md-3 col-form-label">When did it happen</label>
        <div class="col-md-4">
            <input id="when" name="form_when" type="text">
        </div>
    </div>

    <div class="form-group row">
        <label for="why" class="col-md-3 col-form-label">Why did it happen</label>
        <div class="col-md-4">
            <textarea id="why" name="form_why" rows="4" cols="50"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="firstAid" class="col-md-3 col-form-label">
            What did you do? Describe First Aid administered and follow up
        </label>
        <div class="col-md-4">
            <textarea id="firstAid" name="form_firstAid" rows="4" cols="50"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="recommend">Recommendations for follow up: (Admin Only)</label>
        <div class="col-md-4">
            <textarea id="recommend" name="form_recommend" rows="4" cols="50"></textarea>
        </div>
    </div>

    <br><br>
    <input type="submit" onClick="save()" value="Submit"/> <input type="reset" value="Clear"/>
    <input type="hidden" name="form_bodyData" id="bodyData" value="">
    <button onclick="myFunction()" type="button">Help</button>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var bodyCheckCanvas = $("#bodycheck");

        $(document).ready(function () {
            // Need to edit jqscribble to fix this issue. TODO: Troubleshoot and remove the timeout.
            setTimeout(clearBodyCheckCanvas, 50);
        });

        function clearBodyCheckCanvas() {
            bodyCheckCanvas.data("jqScribble").clear();
            bodyCheckCanvas.data("jqScribble").update({backgroundImage: "{{ asset('check.png') }}"});
        }

        //  This is the actual way to save the canvas (base64) - can save this to a variable and POST it.
        //  var bodycanv = document.getElementById('bodycheck');
        //  console.log(bodycanv.toDataURL())

        // TODO: Replace this.
        function myFunction() {
            alert(
                "1.Mark on the chart below any abnormities observed\n" +
                "2.Enter Participant name in the field provided (First name and last name) \n" +
                "3.In the Explain what happened section, please type out how Participant received any abnormalities\n" +
                "4.In the Where / When section, please type out Where & When Participant received any abnormalities\n" +
                "5.In the What did you do? Describe First Aid administered and follow up section, please type out exactly what First Aid was administered and what steps were taken to follow up\n" +
                "6.In the Recommendations for follow up section, only if you are an Admin, please type in any recommendations you have for the participant\n" +
                "7.Enter your name in the field provided\n" +
                "8.Sign the signature box with the mouse\n" +
                "11.Select date from the Date Picker\n"
            );
        }
    </script>
{% endblock %}